.blog {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog__contenedor {
    width: 80%;
    max-width: 80rem;
    margin: 2rem auto;
}

.blog__grid {
    display: grid;
    row-gap: 3rem;
}

@media(min-width:546px) {
    
     .blog__grid {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media(min-width:768px) {

     .blog__grid {
        grid-template-columns: repeat(3, 2fr);
        
        padding-bottom: 12rem;
     }

     .blog__contenedor {
        padding-bottom: 12rem;
     }
}

@media(min-width:1200px) {

     .blog__grid {
        grid-template-columns: repeat(4, 2fr);
     }
}

.blog__imagen {
    display: block;
    border-radius: 1rem;
    margin: 0 auto;
}

.blog__titulo {
    text-transform: lowercase;
    margin: 2rem 0;
    line-height: 1.2;
    font-size: 2.3rem;
    text-align: center;
}

.blog__titulo::first-letter {
    text-transform: uppercase;
}

.blog__descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: 1.8rem;
    margin: 0 0 .5rem 0;
}

.blog__fecha {
    color: var(--primary);
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0;
}

.blog__link,
.blog__linkPost {
    display: block;
    background-color: var(--black);
    text-align: center;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .7rem;
    transition: background-color ease-in 200ms;
}

.blog__link:hover,
.blog__linkPost:hover {
    background-color: var(--primary);
}

.blog__linkPost {
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 5rem;
}   