.footer {

    padding: 2rem 0;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width:768px) {

     .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
     }

}

.navegacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media(min-width:768px) {

    .navegacion {
        flex-direction: row;
        margin-bottom: 0rem;
    }

}

.navegacion a {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 200ms ease-in-out color;
}

.navegacion a:hover {
    color: var(--primary);
    border-bottom: 2px solid white;

}

.copyright {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 2rem;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    border-top: 2px solid rgba(255, 255, 255, 0.185);
    
}

@media(min-width:768px) {

    .copyright {
        border-top: none;
        padding-top: 0rem;
    }

}

.copyright__name {
    line-height: .8;
    font-size: 1.4rem;
    display: block;
}