.notFound {
    margin: 4rem 0 5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media(min-width:768px) {

     .notFound {
        margin: 0 auto;
     }

}

.notFound h1,
.notFound p {
    margin: 0;
}

.notFFound__image {
    display: block;
    width:80%;
    max-width: 20rem;
    margin: 0 auto;
    border-radius: 4rem;
}